repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-versions
        name: Check version consistency (HA & async-bakalari-api)
        entry: script/validate_version.py
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: basedpyright
        name: Check pyRight
        entry: basedpyright --outputjson | script/pretty_basedpyright.py
        language: system
        pass_filenames: true
